body {
    
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}